.avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 170px;
  transition: all 0.3s ease;
  background-color: var(--nav-bg);
  border-radius: 50%;
}

@media (min-width: 1024px) {
  .avatar {
    position: absolute;
  }

  @media (min-width: 1800px) {
    .avatar {
      width: 250px;
      height: 250px;
    }
  }

  @media (min-width: 2400px) {
    .avatar {
      width: 300px;
      height: 300px;
    }
  }

  .avatar:nth-of-type(1) {
    /* self, you, or me avatar */
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
  }

  .avatar:nth-of-type(2) {
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
  }

  .avatar:nth-of-type(3) {
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
  }

  .avatar:nth-of-type(4) {
    top: 50%;
    right: 20%;
    transform: translateY(-50%);
  }

  .avatar:nth-of-type(5) {
    top: 15%;
    right: 30%;
  }

  .avatar:nth-of-type(6) {
    top: 15%;
    left: 30%;
  }
}

@media (max-width: 1023.99px) {
  .avatar {
    width: 100%;
    justify-content: flex-start;
    flex-direction: row;
    box-shadow: var(--card-shadow);
    position: initial;
    border-radius: initial;
  }
}

.avatar .img {
  width: var(--nav-width);
  max-width: 70px;
  height: var(--nav-width);
  max-height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
}

@media (min-width: 1800px) {
  .avatar .img {
    max-width: 100px;
    max-height: 100px;
  }
}

@media (min-width: 2400px) {
  .avatar .img {
    max-width: 200px;
    max-height: 200px;
  }
}

.avatar .content {
  font-size: var(--font-size);
  text-align: center;
  background-color: transparent;
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
}

.avatar .content .nickname {
  text-transform: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.avatar .content .nickname:hover {
  color: var(--h-color);
}

@media (max-width: 768px) {
  .avatar .content {
    margin-left: 1.5rem;
  }
}

.overlay {
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  color: var(--h-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size);
}
