.notification {
  margin: 0 0.5rem 1rem 0;
  padding: 1rem;
  border-radius: var(--card-radius);
  box-shadow: var(--card-shadow);
  background-color: var(--background);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 450px;
  transition: all 0.3s ease;
  animation: slide-left 0.4s;
  animation-fill-mode: forwards;
}

.notification.exit {
  animation: slide-right 0.4s;
  animation-fill-mode: forwards;
}

@keyframes slide-left {
  0% {
    margin-left: 120%;
  }

  100% {
    margin-left: 0;
  }
}

@keyframes slide-right {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: 120%;
  }
}

@media (max-width: 1023.99px) {
  .notification {
    width: 300px;
  }
}

@media (min-width: 2400px) {
  .notification {
    width: 650px;
  }
}

.notification .title {
  font-size: var(--h-font-size);
  font-weight: 600;
}

.notification .message {
  font-size: var(--font-size);
}

.notification .side-bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 100%;
}

.notification.info .side-bar {
  background-color: var(--blue);
}

.notification.success .side-bar {
  background-color: var(--green);
}

.notification.warning .side-bar {
  background-color: var(--orange);
}

.notification.error .side-bar {
  background-color: var(--red);
}
